# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env.*

# SQLite
*.db

# VSCode
.vscode/

# Node
node_modules/
/dist

# Python virtual envs
venv/
.env

# Logs
*.log

# macOS
.DS_Store
